:root {
  --mainBg-color: rgba(211, 242, 252, 0.529);
  --textSite-color: rgba(7, 89, 119, 0.89);
  --textAdvice-color: rgba(7, 89, 119, 0.589);
  --headerBg-color: rgba(178, 227, 244, 0.529);
  --buttonBg-color: rgba(178, 228, 244, 0.836);

}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.spin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--textSite-color);
}

.spin p {
  font-size: 1.5rem;
}

@keyframes spinn {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}

.spinner {
  border: 8px solid rgba(11, 164, 202, 0.151);
  border-top: 8px solid rgb(2, 89, 126); 
  border-radius: 50%; 
  width: 20px;
  height: 20px;
  animation: spinn .5s  linear infinite;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main-header {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-grow: .5;
  background-color: var(--headerBg-color);
  color: var(--textSite-color);
}

.main-header h1{
  display: block;
  text-align: left;
  margin: 0;
  padding: 10px 0px 0px;
}

.main-header h3{
  margin: 0px 0px 0px 150px;
  display: inline-block;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: var(--mainBg-color);
}

.advice-container {
  text-align: center;
  height: 20px;
  padding: 10px;
  font-size: 2rem;
  color: var(--textAdvice-color);
}

.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: .5;
  background-color: var(--headerBg-color);
  color: var(--textSite-color);
}

button {  
  text-align: center;
  font-size: 1.1rem;
  padding: 4px 16px;
  border: none;
  background-color: var(--buttonBg-color);
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px;
  color: var(--textSite-color);

}

@keyframes logo {
  from {transform: translate(40vw, 50vh); transform: scale(2)}
}

.title-start {
  position: relative;
  display: inline-block;
  transform: scale(1.7);
  top: 50vh;
  left: 40vw;
}
.title-logo{
  position: relative;
  display: inline-block;
  animation: logo .5s ease-in;
  transform: scale(1);
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px;
}